<h1><%= @user.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>profile:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>hobby:</strong>
  <%= @user.hobby %>
</p>

<% if logged_in? && current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォローを外す', unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= link_to 'フォローする', follow_user_path(@user), method: :post %>
  <% end %>
<% end %>
